/* Inspiration taken from https://codepen.io/nebo/pen/ONXejO and https://codepen.io/alchatti/pen/NOdzLO */

.transition {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.thumbnail-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    gap: 16px;
    padding-bottom: 8px;
}

.thumbnail {
    position: relative;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 5px 5px 0 rgba(0, 0, 0, 0.05);
}

.thumbnail .tag {
    position: absolute;
    background: #D9D9D9;
    color: #1A1A1A;
    bottom: 12px;
    right: 16px;
    padding: 2px 8px;
}

.thumbnail img {
    width: 240px;
    /*min-width: 120px;*/
    /*max-width: 240px;*/
    height: 360px;
    /*min-height: 240px;*/
    /*max-height: 480px;*/
    border-radius: 12px;
    object-fit: cover;
    object-position: 0 0;
}

.thumbnail img::before {
    width: available;
    height: available;
    background-color: #000;
    content: '';
    color: white;
    opacity: 0.4;
    text-align: center;
    pointer-events: none;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.thumbnail img:hover::before {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.90);
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    padding-top: 40px;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    transition: all 1s ease;
    object-fit: contain;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.lightbox:target {
    outline: none;
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

/*.lightbox:target img {*/
/*    top: 0;*/
/*    transform: translateY(-25%);*/
/*    -moz-transform: translateY(-25%);*/
/*    -o-transform: translateY(-25%);*/
/*    -webkit-transform: translateY(-25%);*/
/*}*/
