/* Inspiration taken from https://codepen.io/nebo/pen/ONXejO and https://codepen.io/alchatti/pen/NOdzLO */

.experience-gallery {
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 20px;
    max-width: 100%;
    justify-content: center;
}

.experience-gallery * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.transition {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.thumbnail-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: max-content;
    justify-content: center;
    gap: 16px;
}

.thumbnail img {
    width: 33vw;
    max-width: 250px;
    height: 33vw;
    max-height: 250px;
    border-radius: 32px;
    object-fit: cover;
    object-position: 0 0;
    border: 2px solid #cacaca;
}

.thumbnail img::before {
    width: available;
    height: available;
    background-color: #000;
    content: '';
    color: white;
    opacity: 0.4;
    text-align: center;
    pointer-events: none;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.thumbnail img:hover::before {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.90);
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.lightbox:target {
    outline: none;
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

/*.lightbox:target img {*/
/*    top: 0;*/
/*    transform: translateY(-25%);*/
/*    -moz-transform: translateY(-25%);*/
/*    -o-transform: translateY(-25%);*/
/*    -webkit-transform: translateY(-25%);*/
/*}*/
