@import url(//fonts.googleapis.com/css?family=Poppins:700,500);
@import url(//fonts.googleapis.com/css?family=Karla:700,500,300);

html,
body {
    margin: 0;
    padding: 0;
    font: 16px 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f5f5f5;
    color: #575757;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
}

p {
    font: 16px 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    margin: 0;
    padding: 0;
    font: 24px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #000000;
}

h2 {
    margin: 0;
    padding: 0;
    font: 20px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #1A1A1A;
}

h3 {
    margin: 0;
    padding: 0;
    font: 18px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #404040;
}

h4 {
    margin: 0;
    padding: 0;
    font: 16px 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #404040;
}

h5 {
    margin: 0;
    padding: 0;
    font: 16px 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #575757;
}

h6 {
    margin: 0;
    padding: 0;
    font: 14px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #404040;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

#target {
    width: 100%;
}

:focus {
    outline: 0;
}

.categories {
    background: rgba(255, 255, 255, 0.85);
    display: block;
    position: fixed;
    left: 0;
    padding-top: 20px;
    padding-bottom: 24px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.categories ul {
    width: max-content;
    margin: 0 auto;
}

.categories li {
    display: inline;
}

.categories h2 {
    width: max-content;
    margin: 0 auto
}

.categories h4 {
    width: max-content;
    margin: 0 auto
}

.categories ul {
    padding-top: 12px;
    width: max-content;
    margin: 0 auto
}

.categories li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.categories li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.categories li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

.experience-section {
    padding-top: 132px;
    display: inline-flex;
    flex-direction: column;
}

.experience-list {
    padding-top: 24px;
    display: inline-flex;
    flex-wrap: wrap;
}

.experience-cell {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.experience-content {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    padding: 24px 0 32px 0;
    margin: .5em 0 0 .5em;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 25px 50px 0 rgba(0, 0, 0, 0.05);
}

.experience-icon {
    width: 52px;
    height: 52px;
    border-radius: 64px;
    object-fit: contain;
}

.divider {
    background: #D9D9D9;
    height: 1px;
    margin-top: 8px;
    width: 100%;
}

.experience-tile h1 {
    line-height: 1.1;
}

.experience-header.row {
    display: inline-flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    justify-content: space-around;
}

.experience-header.col {
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    margin-left: 12px;
}

.experience-header.title-row {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2px;
}

.experience-header.title {
    margin: 0 auto 0 0;
    align-self: flex-start;
}

.experience-gallery {
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 24px;
    max-width: 90%;
    overflow-y: clip;
    overflow-x: auto;
    margin: auto;
}

.experience-gallery * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.experience-info {
    padding-left: 20px;
    padding-top: 24px;
    padding-right: 20px;
}

.date-range {
    border-radius: 32px;
    padding: 2px 12px;
    margin: 0 2px;
    color: #FFFFFF;
    background: #999999;
    white-space: nowrap;
}

.date-range.active {
    background: #FF9D2B;
}

.tags {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 12px;
}

.tags h6 {
    padding: 2px 12px;
    border-radius: 8px;
}

.tags.job h6 {
    background: #F2DCD9;
    color: #E94F37;
}

.tags.freelance h6 {
    background: #DAD4F7;
    color: #5438DC;
}

.tags.project h6 {
    background: #DDF4FD;
    color: #20A6DF;
}

.tags .skill h6 {
    background: #FFF;
    color: #999999;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.content {
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

.info {
    padding: 24px 10vw;
}

.info p {
    line-height: 1;
}

.footer {
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    border-top: 1px solid #e6e6e6;
}

.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

/* From https://philipwalton.github.io/solved-by-flexbox/demos/grids/ */
.Grid {
    display: flex;
}

.Grid-cell {
    flex: 1;
}

/* With gutters */
.Grid--gutters {
    margin: -.5em 0 0 -.5em;
}
/*.Grid--gutters > .Grid-cell {*/
/*    padding: .5em 0 0 .5em;*/
/*}*/

/* Alignment per row */
.Grid--top {
    align-items: flex-start;
}
.Grid--bottom {
    align-items: flex-end;
}
.Grid--center {
    align-items: center;
}

/* Alignment per cell */
.Grid-cell--top {
    align-self: flex-start;
}
.Grid-cell--bottom {
    align-self: flex-end;
}
.Grid-cell--center {
    align-self: center;
}

/* Base classes for all media */
.Grid--fit > .Grid-cell {
    flex: 1;
}
.Grid--full > .Grid-cell {
    flex: 0 0 100%;
}
.Grid--1of2 > .Grid-cell {
    flex: 0 0 50%
}
.Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%
}
.Grid--1of4 > .Grid-cell {
    flex: 0 0 25%
}

/* Small screens */
@media (min-width: 0em) {
    .small-Grid--fit > .Grid-cell {
        flex: 1;
    }
    .small-Grid--full > .Grid-cell {
        flex: 0 0 100%;
    }
    .small-Grid--1of2 > .Grid-cell {
        flex: 0 0 50%
    }
    .small-Grid--1of3 > .Grid-cell {
        flex: 0 0 33.3333%
    }
    .small-Grid--1of4 > .Grid-cell {
        flex: 0 0 25%
    }
}

/* Medium screens */
@media (min-width: 64em) {
    .medium-Grid--fit > .Grid-cell {
        flex: 1;
    }
    .medium-Grid--full > .Grid-cell {
        flex: 0 0 100%;
    }
    .medium-Grid--1of2 > .Grid-cell {
        flex: 0 0 50%
    }
    .medium-Grid--1of3 > .Grid-cell {
        flex: 0 0 33.3333%
    }
    .medium-Grid--1of4 > .Grid-cell {
        flex: 0 0 25%
    }
}

/* Large screens */
@media (min-width: 80em) {
    .large-Grid--fit > .Grid-cell {
        flex: 1;
    }
    .large-Grid--full > .Grid-cell {
        flex: 0 0 100%;
    }
    .large-Grid--1of2 > .Grid-cell {
        flex: 0 0 50%
    }
    .large-Grid--1of3 > .Grid-cell {
        flex: 0 0 33.3333%
    }
    .large-Grid--1of4 > .Grid-cell {
        flex: 0 0 25%
    }
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .toggle-all,
    .todo-list li .toggle {
        background: none;
    }

    .todo-list li .toggle {
        height: 40px;
    }
}

@media (max-width: 430px) {
    .footer {
        height: 50px;
    }

    .filters {
        bottom: 10px;
    }
}
