@import url(//fonts.googleapis.com/css?family=Poppins:700,500);
@import url(//fonts.googleapis.com/css?family=Karla:700,500,300);

html,
body {
    margin: 0;
    padding: 0;
    font: 14px 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f5f5f5;
    color: #575757;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
}

h1 {
    margin: 0;
    padding: 0;
    font: 24px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #000000;
}

h2 {
    margin: 0;
    padding: 0;
    font: 20px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #1A1A1A;
}

h3 {
    margin: 0;
    padding: 0;
    font: 18px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #404040;
}

h4 {
    margin: 0;
    padding: 0;
    font: 16px 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #404040;
}

h5 {
    margin: 0;
    padding: 0;
    font: 16px 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #404040;
}

h6 {
    margin: 0;
    padding: 0;
    font: 14px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #404040;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

#target {
    width: 100%;
}

:focus {
    outline: 0;
}

.categories {
    background: white;
    display: block;
    position: fixed;
    left: 0;
    padding-top: 24px;
    padding-bottom: 32px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.categories ul {
    width: max-content;
    margin: 0 auto;
}

.categories li {
    display: inline;
}

.categories h2 {
    width: max-content;
    margin: 0 auto
}

.categories h4 {
    width: max-content;
    margin: 0 auto
}

.categories ul {
    padding-top: 12px;
    width: max-content;
    margin: 0 auto
}

.categories li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.categories li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.categories li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

.project-list {
    padding-top: 160px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.project-tile {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    padding: 24px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 25px 50px 0 rgba(0, 0, 0, 0.05);
}

.project-tile h1 {
    min-width: 230px;
    max-width: 550px;
}

.project-header .row {
    display: inline-flex;
    flex-direction: row;
}

.project-header .col {
    display: inline-flex;
    flex-direction: column;
}

.tags {
    display: inline-flex;
    margin-top: 8px;
}

.tags h6 {
    padding: 4px 12px;
    border-radius: 8px;
    background: #DAD4F7;
    color: #5438DC;
}

.hidden {
    display: none;
}

.target {
    margin: 130px 0 40px 0;
    padding-bottom: 120px;
    display: block;
}

.content {
    padding: 0 10vw;
}

.col {
    flex: 1;
}

.main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

.footer {
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    border-top: 1px solid #e6e6e6;
}

.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .toggle-all,
    .todo-list li .toggle {
        background: none;
    }

    .todo-list li .toggle {
        height: 40px;
    }
}

@media (max-width: 430px) {
    .footer {
        height: 50px;
    }

    .filters {
        bottom: 10px;
    }
}
